body {
    background-color: rgb(245, 222, 204);
    margin-right: 13%;
    margin-left: 14%; 
}

.apheader {
    color: goldenrod;
    border: goldenrod solid 6px;   
    margin-right: 25%;
    text-align: center;
    font-size: 90px;
    float: right;
    margin-left: 25%;
    background-color: rgb(12, 12, 160);
}
.nav {
    font-size: 28px;
    text-align: center;
    border: orange solid round 7px;
}

.mainheader {
    color: goldenrod;
    border: goldenrod solid 6px;   
    margin-right: 25%;
    text-align: center;
    font-size: 90px;
    float: right;
    margin-left: 25%;
    background-color: rgb(12, 12, 160);

}

.nav {
    font-size: 28px;
   text-align: center;
    border: orange solid round 7px;
}
.nav li.active a {
    border: 1px solid orange;
}

.nav li a:hover {
    border: 1px solid ivory;
}

.mainpage1 {
    color: whitesmoke;
    border: goldenrod solid 6px;   
    margin-right: 46%;
    font-size: 39px;
    text-align: center;
    background-color: rgb(12, 12, 160);
}

.picRight {
    float: left;
    width: 550px;
    height: 585px;
    padding: 3px;
    border: orange solid 7px;
}

.mainpage2 {
    color: whitesmoke;
    border: goldenrod solid 6px;   
    font-size: 39px;
    margin-left: 46%;
    text-align: left;
    background-color: rgb(12, 12, 160)
}

.picLeft {   
    float: right;
    width: 599px;
    height: 500px;
    padding: 3px;
    border: orange solid 7px;
}

.assempic1 {
    width: 550px;
    height: 585px;
    padding: 3px;
    border: orange solid 7px;
}

.points {
    border: goldenrod 6px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 500%;
}

.picriders {
    float: right;
    width: 599px;
    height: 500px;
    padding: 3px;
    border: orange solid 7px;
}

.picmount {
    float: right;
    width: 500px;
    height: 550px;
    padding: 3px;
    border: orange solid 7px;
}

.picnef {
    float: left;
    width: 550px;
    height: 585px;
    padding: 3px;
    border: orange solid 7px;
}

.picskulltaker {
    float: right;
    width: 550px;
    height: 585px;
    padding: 3px;
    border: orange solid 7px;
}

.picchamp {
    float: left;
    width: 550px;
    height: 585px;
    padding: 3px;
    border: orange solid 7px;
}